

.div1{
    float: left;
    width: 30%;
    background-color: rgb(42, 78, 112);
    margin: 10px;
    height: 100%;
    border: solid 8px rgb(42, 78, 112);
    border-radius: 15px;
}

.div2{
    float: left;
    width: 30%;
    background-color: rgb(42, 78, 112);
    margin: 10px;
    height: 100%;
    border: solid 8px rgb(42, 78, 112);
    border-radius: 15px;
}

.div3{
    float: left;
    width: 30%;
    background-color: rgb(42, 78, 112);
    margin: 10px;
    height: 100%;
    border: solid 8px rgb(42, 78, 112);
    border-radius: 15px;
}

.tabela{
    width: 60%;
    text-align: center;
    margin: auto;
    padding: 40px;
    height: 600px;
}

.div1:hover{
    background-color: rgb(39, 73, 104);
    border: solid 4px white;
}

.div2:hover{
    background-color: rgb(39, 73, 104);
    border: solid 4px white;
}

.div3:hover{
    background-color: rgb(39, 73, 104);
    border: solid 4px white;
}

.texto h1{
    font-family: 'Amatic SC', cursive;
    font-size: 7.0rem;
    color: white;
    font-weight: lighter;
    letter-spacing: 2px;

}

.texto{
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.tabela h1{
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
    color: rgb(24, 44, 63);
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 2px;
    margin-top: 20px;
}

.tabela h2{
    font-size: 8rem;
    margin: auto;
    margin-top: 80px;
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
}

.tabela hr{
        border: 2px solid #ffffff;
        border-radius: 2px;
        width: 80%;
        margin: auto;
        margin-top: 20px;
}

.tabela p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    padding-top: 15px;
    letter-spacing: 2px;
    color: #f0a8b4;
    font-weight: lighter;
    margin-top: 30px;
}

.texto p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
    padding-top: 15px;
    letter-spacing: 2px;
    color: #f0a8b4;
    font-weight: lighter;
}

    