@import url(./tabela.css);

html{
    font-size: 62.5%;
    margin: 0;
	padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;;
}

h2{
    font-size: 3.0rem;
    padding-top: 4.0rem;
}

p{
    color: rgb(165, 165, 165);
    font-size: 1.5rem;
    padding-top: 1.0rem;
}

div{
    margin-bottom: 16.5rem;
}

footer{
    padding: 1.5rem
}

footer p{
    color: 	rgb(245,118,141);
}

